.footer {
    background-color: rgb(40,44,52);
    padding: 2rem 1rem;

}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}

.footer-wrapper li {
    color: white;
}
.footer-icons__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}