

.apps-header__container {
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(to left, #30cfd0 0%, #440867 100%);
    padding: 6rem 10rem;
    height: 40vh;
}
.apps-header {
    font-size: 25px;
    color: white;
}

.apps-paragraph {
    font-size: 18px;
    margin-top: 1.5rem;
    line-height: 1.8;
}

.btn-load-apps,
.btn-about {
    padding: 1rem;
    margin-top: 2rem;
    background: rgb(58, 48, 52);
    color: skyblue;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

}

.btn-load-apps:hover {
    background: rgb(80, 61, 69);


}

.apps-body {
    padding: 5rem 6rem;
}

.apps-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    justify-items: center;
    grid-gap: 1rem;
    animation-name: popupopen, moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin-top: 2rem;
    padding: 5rem 8rem;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);

    }

    80% {
        transform: translateX(-10px);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width: 1024px) {

    .apps-header__container {
        height: 25vh;
    }
    .apps-wrapper {
        padding: 5rem 3rem;
    }
}

@media screen and (max-width: 768px) {
    .apps-wrapper {
        padding: 3rem 3rem;
    }

    .app-body {
        padding: 1rem 1rem;
    }

    .app-description {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .apps-header__container {
        padding: 3rem 5rem;
    }

    .btn-load-apps, .btn-about {
        padding: .7rem;
    }
    
    .apps-body {
        padding: 3rem 3rem;
    }

    .apps-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}