* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
}

body {
  font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width: 850px) {

  .show-tablet {
      display: block;
  }
  .navbar {
    height: 3.5rem;
  }
}